@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url("Assets/bg-intro-desktop.png") no-repeat top / cover hsl(0, 100%, 74%);
    z-index: -1;
}

/* WRITE-UP */

.write-up-con{
    margin-left: 180px;
}

.write{
    width: 80%;
    color: white;
    margin-bottom: 20px;
    font-size: 50px;
    line-height: 1.2;
    font-family: "poppins", sans-serif;
}

.write-sub{
    width: 80%;
    line-height: 1.4;
    font-family: "poppins", sans-serif;
    font-size: 16px;
    color: white;
}

/* FREE TRIAL */
.free-trial{
    display: flex;
    justify-content: center;
    align-items: center;
}

.trial-p{
    background-color:hsl(248, 32%, 49%);
    padding: 20px;
    width: 580px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    font-family: "poppins", sans-serif;
    font-weight: 400;
    color: white;
}

.highlight{
    color: hsl(246, 25%, 77%);
}


/* CONTAINER TWO */

.container-two{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: -20px;
    margin-right: 150px;
}

/* CARD */

.card{
    background-color: white;
    padding: 40px;
    width: 580px;
    border-radius: 8px;
    max-height: 550px;
}

.input{
    display: block ;
    margin-bottom: 30px;
    width: 500px;
    padding: 15px;
    border: 1px solid grey;
    border-radius: 6px;
    color:black;
    font-size: 15px;
    font-weight: 600;
    outline: none;
}

.input:focus{
    border: 2px solid hsl(248, 32%, 49%);
   
}

.input:last-child{
    margin-bottom: 19px;
}

.input-p{
   margin-top: -22px;
   margin-bottom: 20px;
   display: none;
   justify-content: flex-end;
   font-size: 12px;
   color: red;
   font-family: "poppins", sans-serif;
   font-weight: 550;
   font-style: italic;
}

.input-image{
    background: url("Assets/icon-error.svg");
    background-repeat: no-repeat;
    background-position:right 20px center;
    background-size: 20px;
    padding-right: 40px;
}

.input-image.active{
    background: none;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
}


::placeholder{
    color: grey;
    font-size: 15px;
    font-weight: 600;
}

.sub-btn{
    padding: 15px;
    width: 500px;
    border: none;
    color: white;
    background-color: rgb(53, 163, 53);
    text-transform: uppercase;
    font-family: "poppins", sans-serif;
    font-size: 15px;
    word-spacing: 4px;
    border-radius: 6px;
}

.sub-btn:hover{
    background-color: hsl(154, 59%, 51%);
    cursor: pointer;
}

.terms-c{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9px;
}

.tandc{
    font-family: "poppins", sans-serif;
    font-size: 14px;
    color: hsl(246, 25%, 77%);
    font-weight: 600;
}

.ano{
    color: red;
}

.error-placeholder::placeholder {
    color: red;
    opacity: 1;
}

@media only screen and (max-width: 600px) {
    .container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 140vh;
  
}

.container::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 140vh;
    background: url("Assets/bg-intro-mobile.png") no-repeat top / cover hsl(0, 100%, 74%);
    z-index: -1;
    
}


/* WRITE-UP */

.write-up-con{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: -50px;
}

.write{
    width: 90%;
    text-align: center;
    color: white;
    margin-bottom: 5%;
    font-size: 30px;
    line-height: 1.2;
    font-family: "poppins", sans-serif;
    font-weight: 900;
    
}

.write-sub{
    width: 90%;
    text-align: center;
    line-height: 1.4;
    font-family: "poppins", sans-serif;
    font-size: 15px;
    display: flex;
    justify-self: center;
    color: white;
    margin-bottom: 90px;
   
}

/* FREE TRIAL */
.free-trial{
    display: flex;
    justify-content: center;
    align-items: center;
}

.trial-p{
    background-color:hsl(248, 32%, 49%);
    padding: 20px;
    width: 90%;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    font-family: "poppins", sans-serif;
    font-weight: 400;
    color: white;
    
}

.highlight{
    color: hsl(246, 25%, 77%);   
}


/* CONTAINER TWO */

.container-two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}

/* CARD */

.card{
    background-color: white;
    padding: 20px;
    width: 90%;
    border-radius: 8px;
    align-items: center;
    max-height: 570px;  
}

.input{
/*     display: block ; */
    margin-bottom: 30px;
    width: 100%;
    padding: 19px;
    border: 1px solid grey;
    border-radius: 6px;
    color:black;
    font-size: 10px;
    font-weight: 600;
    outline: none;
}

.input:focus{
    border: 2px solid hsl(248, 32%, 49%);
   
}

.input:last-child{
    margin-bottom: 19px;
}

.input-p{
   margin-top: -22px;
   margin-bottom: 20px;
   display: none;
   justify-content: flex-end;
   font-size: 12px;
   color: red;
   font-family: "poppins", sans-serif;
   font-weight: 550;
   font-style: italic;
}

.input-image{
    background: url("Assets/icon-error.svg");
    background-repeat: no-repeat;
    background-position:right 20px center;
    background-size: 20px;
    padding-right: 40px;
}

.input-image.active{
    background: none;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
}


::placeholder{
    color: grey;
    font-size: 11px;
    font-weight: 600;
}

.sub-btn{
    padding: 15px;
    width: 100%;
    border: none;
    color: white;
    background-color: rgb(53, 163, 53);
    text-transform: uppercase;
    font-family: "poppins", sans-serif;
    font-size: 15px;
    word-spacing: 4px;
    border-radius: 6px;
}

.sub-btn:hover{
    background-color: hsl(154, 59%, 51%);
    cursor: pointer;
}

.terms-c{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.tandc{
    font-family: "poppins", sans-serif;
    font-size: 14px;
    color: hsl(246, 25%, 77%);
    font-weight: 600;
    width: 80%;
    text-align: center;
    line-height: 1.9;
}

.ano{
    color: red;
}
}